<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="main_raa_menu"
              name="RAA"
              sequence="10"
              groups="raa.group_manager,raa.group_user,raa.group_read_only" />

    <menuitem id="main_raa_raa_menu"
              name="Administrative Acts"
              parent="main_raa_menu"
              sequence="5" />

    <menuitem id="main_raa_raa_admitted"
              name="Admitted List"
              parent="main_raa_raa_menu"
              sequence="5"
              action="registry_aa_list_action" />

    <menuitem id="main_raa_registry_aa_entry_wizard"
              name="Entry Wizard"
              parent="main_raa_raa_menu"
              sequence="10"
              action="raa_entry_wizard"
              groups="raa.group_manager" />

    <menuitem id="main_raa_search_missing_wizard"
              name="Search for Missing"
              parent="main_raa_raa_menu"
              sequence="20"
              action="raa_search_missing_wizard" />

</odoo>
